body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url("Design.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  background-blend-mode: darken;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* styles.css */

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


.sample-container {
  display: flex;
  flex-wrap: wrap;
}

.sample-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
}

.sample-card:hover {
  background-color: #f0f0f0;
}

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin-left: 150px;
  margin-right: 20px;
  font-size: 18px;
}

.back-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
  top: 10px;
  position: fixed;
  margin-left: -500px;
  margin-right: 20px;
  font-size: 18px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
  top: 10px;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}
.logout-button {
  position: fixed;
  margin-left: 300px;
  margin-right: 20px;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 60px;
  font-size: 18px;
}